<?php
$url = $_GET['u'];
$parts = parse_url($url);
parse_str($parts['query'], $query);
$key = $query['key'];
if($key == "YOUR_API_KEY") // Replace YOUR_API_KEY with your actual YouTube API key and rename file to ythttps.php
{
	echo file_get_contents("$url");
}
?>